<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/consulta.css') }}" />
    <title>Consulta</title>
</head>

<body>
    {% include 'header.html' %}
    <br>
    <center>
        <h2>Registraduria Nacional Del Estado Civil</h2>
        <h5>Bienvendio al portal de consultas de sanciones a jurados</h5>
    </center>
    <!-- Contenedor de la tabla con fondo degradado -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Valor Sanción</th>
                    <th>Código Departamento</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                    <tr>
                        <td>{{ detalle[0] }}</td> 
                        <td>{{ detalle[1] }}</td> <!-- Primer Nombre -->
                        <td>{{ detalle[2] }}</td> <!-- Segundo Nombre -->
                        <td>{{ detalle[3] }}</td> <!-- Primer Apellido -->
                        <td>{{ detalle[4] }}</td> <!-- Segundo Apellido -->
                        <td>{{ detalle[5] }}</td> <!-- Valor de la sanción -->
                        <td>{{ detalle[6] }}</td> <!-- Código del Departamento -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <center><a href="{{ url_for('index') }}" class="volver-busqueda-btn">Volver a la búsqueda</a></center>
    {% include 'footer.html' %}
</body>

</html>
