<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='image/x-icon' rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/consulta.css') }}" />
    <title>Consulta</title>
</head>

<body>
    {% include 'header.html' %}
    <br>
    <center>
        <h1>Hola care nenufar</h1>
    </center>
    <!-- Contenedor de la tabla con fondo degradado -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Fecha Expedición</th>
                    <th>Departamento</th>
                    <th>Precio De Multa</th>
                    <th>Motivo</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for jurado in jurados %}
                <tr>
                    <td>{{ jurado[0] }}</td>
                    <td>{{ jurado[1] }}</td>
                    <td>{{ jurado[2] }}</td>
                    <td>{{ jurado[3] }}</td>
                    <td>{{ jurado[4] }}</td>
                    <td>{{ jurado[5] }}</td>
                    <td>{{ jurado[6] }}</td>
                    <td>{{ jurado[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <center><a href="{{ url_for('index') }}" class="volver-busqueda-btn">Volver a la búsqueda</a></center>
    {% include 'footer.html' %}
</body>

</html>