<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Multas - RNEC</title>
    <link type='image/x-icon' rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>

<body>
    {% include 'header.html' %}

    <div class="content-wrapper_1">
        <h3>Consulta De Multas Jurados</h3>
        <h4>Registraduria Nacional Del Estado Civil</h4>
        <h5>Traste casi siempre</h5>

        <form method="POST">
            <div class="juradoss">
                <label for="cedula">Cédula de ciudadanía:</label>
                <input type="text" id="cedula" name="cedula" placeholder="Digite el número" required>
            </div>
            <div class="juradoss">
                <label for="cedula">Fecha de Expedición:</label>
                <input type="date" id="fecha" name="fecha" required>
            </div>
            <div class="recaptcha-container">
                <div class="g-recaptcha" data-sitekey="TU_CLAVE_SITIO"></div>
            </div>
            <button type="submit" class="botonJ">Consultar</button>
        </form>
    </div>
    
    {% include 'footer.html' %}
</body>
</html>