<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Multas - RNEC</title>
    <link type='image/x-icon' rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>

<body>
    {% include 'header.html' %}

    <div class="content-wrapper_1">
        <h3>Consulta De Multas Jurados</h3>
        <h4>Registraduria Nacional Del Estado Civil</h4>
        <h5>Traste casi siempre</h5>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/buscar">
            <div class="juradoss">
                <label for="cedula">Cédula de ciudadanía:</label>
                <input type="text" id="cedula" name="cedula" placeholder="Digite el número">
            </div>
            <div class="juradoss">
                <label for="fechaexp">Fecha de Expedición:</label>
                <input type="date" id="fechaexp" name="fechaexp">
            </div>
            br
            <center>
            <div class="recaptcha-container">
                <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
            </div>
            </center>
            <button type="submit" class="botonJ">Consultar</button>
        </form>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>   
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const cedulaInput = document.getElementById('cedula');
            const fechaInput = document.getElementById('fechaexp');
            const capchat = document.getElementById('recaptcha');   

            form.addEventListener('submit', function (event) {
                if (cedulaInput.value.trim() === '') {
                    event.preventDefault(); // Evita que el formulario se envíe
                    alert('El campo "Cédula de ciudadanía" es obligatorio.');
                    cedulaInput.focus();
                }

                form.addEventListener('submit', function (event) {
                    if (fechaInput.value.trim() === '') {
                        event.preventDefault(); // Evita que el formulario se envíe
                        alert('El campo "Fecha De Expedicion" es obligatorio.');
                        fechaInput.focus();
                    }
                    
                });
            });
        });
    </script>

    {% include 'footer.html' %}
</body>

</html>